<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Paste.</strong> Made by <a href="https://zyrouge.gq">ZYROUGE</a>
        </p>
        <div class="buttons is-centered">
            <a class="button is-link is-small" href="/pastes/new">
                <p><i class="fas fa-plus"></i> New Paste</p>
            </a>
            <a class="button is-dark is-small" href="https://github.com/zyrouge/paste">
                <p><i class="fab fa-github"></i> Source Code</p>
            </a>
            <a class="button is-danger is-small" href="https://zyrouge.gq/patreon">
                <p><i class="fab fa-patreon"></i> Patreon</p>
            </a>
        </div>
    </div>
</footer>