<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/assets/logo.png">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-box">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar-box" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="https://zyrouge.gq/">
                <p><i class="fas fa-heart" style="color: #f14668;"></i> Creator</p>
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-link" href="/pastes/new">
                        <strong><i class="fas fa-plus"></i> New Paste</strong>
                    </a>
                    <% if (!user) { %>
                        <a class="button is-warning" href="/login">
                            <strong><i class="fas fa-sign-in-alt"></i> Login</strong>
                        </a>
                    <% } else { %>
                        <a class="button is-success" href="/me">
                            <strong><i class="fas fa-user"></i> Profile</strong>
                        </a>
                    <% } %>
                    <a class="button is-light" href="https://github.com/zyrouge/paste">
                        <strong><i class="fab fa-github"></i> GitHub</strong>
                    </a>
                    <a class="button is-danger" href="https://zyrouge.gq/patreon">
                        <strong><i class="fab fa-patreon"></i> Patreon</strong>
                    </a>
                    <% if (user) { %>
                        <a class="button is-warning" href="/logout">
                            <strong><i class="fas fa-sign-out-alt"></i> Logout</strong>
                        </a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        if ($navbarBurgers.length > 0) {

            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>