<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastebin by ZYROUGE</title>
    <%- include("components/head.ejs") %>
</head>
<body>
    <!-- Nav -->
    <%- include("components/nav.ejs") %>

    <section class="section">
        <div class="container">
            <h1 class="title is-1">Paste</h1>
            <h4 class="subtitle is-4">Made by <strong>ZYROUGE</strong></h4>
        </div>
    </section>
</body>
</html>