const production = !!(process.env.NODE_ENV && process.env.NODE_ENV === "production");

const base = production ? "https://example.com" : "http://localhost:3000";

module.exports = {
    base,
    root: "https://example.com",
    pasteCodeLen: 7,
    port: 3000,
    github: {
        clientID: "",
        clientSecret: ""
    }
}